
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 100px;
  position: relative;
  color: #5a5a5a;
}

    .tour {
      position: relative;
      padding-top: 90px;
    }

footer {
  position: absolute;
  display: inline!important;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #2f2f2f;
  border-top: 2px solid grey;
}

.footer-text {
  font-size: 15px;
  color: white!important;
  vertical-align: middle;
  text-align: center;
  line-height: 50px;
}

/* This container makes use of all width */

@media screen and (min-width: 1300px) {
    .container-fluid {
      margin-left: 10%;
      margin-right: 10%;
  }
}

.modalh {
  font-weight: bold;
  color: #37abc8;
  font-family: 'Jura', sans-serif;
}

.modal-header {
  background-color: #37abc8;
  color: white;
}

.modal-title {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Jura', sans-serif;
}

#system-info {
  font-weight: bold;
  color: grey;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-nav > li {
  margin-left: 20px;
  font-weight: bold;
  font-family: 'Jura', sans-serif;
  font-size: 20px;
}

 .navbar-nav > li > a:focus {
  background-color: rgba(1,1,1,0)!important;
  color: #37abc8;
}

.navbar-nav > li > a:hover{
  background-color: rgba(1,1,1,0.1)!important;
}

.bottom-bar {
  border-bottom:6px solid rgba(1,1,1,0)!important;
}

#logo {
	max-width: 50px;
	padding: 5px;
	margin-right: 5px;
}


.navbar-fixed-top {
  background-color: #ccc;
  opacity: .9;
}

.fixed-nav {
  margin-left: 30%;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 700px;
  margin-bottom: 60px;
}

.carousel-indicators > li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px 1px rgba(1,1,1,.8); 
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  position: absolute;
  top: 220px;
  z-index: 10;
  padding:10px;
  box-shadow: 0px 0px 0px #fff
}

.carousel-control {
  max-width: 150px;
}

.carousel-caption > h1 {
	color: #37abc8;
	font-weight: bold;
	font-size: 50px;
	font-family: 'Jura', sans-serif;
	margin-bottom: 100px;
}

.carousel-caption > h3 {
	font-size: 20px;
	color: #404040;
	font-family: 'Jura', sans-serif;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 700px;
  background-color: rgba(0,0,0,0)!important;
}
.carousel-inner > .item > img {
  /*padding-top: 50px;
  padding-left: 10%;
  padding-right: 10%;*/
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: .35;
  max-height: 700px!important;
}

.cimg {
  overflow: auto;
  min-width: 2000px;
}

.col-md-12 h1 {
	font-weight: bold
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing-header {
	font-size: 60px;
	color: #37abc8;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Jura', sans-serif;

}

#tour-header {
	font-size: 60px;
	color: #37abc8;
	font-weight: bold;
	text-align: center;
	margin-bottom: 40px;
	font-family: 'Jura', sans-serif;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.jumbotron h1,
.marketing h2 {
  font-weight: bold;
  color: #37abc8;
  font-family: 'Jura', sans-serif;

}
.marketing .col-lg-4 p {
  margin-right: 0;
  margin-left: 0;
}

#main-icons {
  font-size: 140px;
  color: #37abc8;
}

.feat > .btn-primary {
  font-size: 16px;
  font-weight: bold;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 30px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300px;
  line-height: 1;
  letter-spacing: -1px;
}

.lead {
  text-align: justify;
}

.lead > li {
  margin-bottom: 10px;
}

.small-link {
  font-size: 16px;
}

b {
  color: grey;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media only screen and (min-width: 991px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    height: 77px;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
  .carousel-caption h1 {
    font-size: 75px;
  }
  .carousel-caption h3 {
    font-size: 30px;
  }
  .ar-right {
    display: inline-block;
  }
  .ar-down {
    display: none;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

@media screen and (min-width: 0px) and (max-width: 991px) {
  .ar-right {
    display: none;
  }

  .ar-down {
    display: inline-block
  }

}


}

.w3-container:after,.w3-panel:after,.w3-row:after,.w3-row-padding:after,.w3-topnav:after,.w3-clear:after,.w3-btn-group:before,.w3-btn-group:after,.w3-btn-bar:before,.w3-btn-bar:after
{content:"";display:table;clear:both}
.w3-container{padding:0.5em 8px}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,w3-fifth,.w3-row-padding>.w3-col{padding:0 8px}
.w3-col.s12,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter,.w3-fifth{width:99.99999%}
.w3-col.l3,.w3-quarter{width:19.9999%}
.w3-col.m3,.w3-quarter{width:19.9999%}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter,.w3-fifth{float:left}
.w3-topbar{border-top:6px solid #ccc!important}.w3-bottombar{border-bottom:6px solid #ccc!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-hover-purple,.w3-hover-deep-purple,.w3-hover-red,.w3-hover-sand,.w3-hover-teal,.w3-hover-yellow,.w3-hover-white,.w3-hover-black,.w3-hover-grey,.w3-hover-light-grey,.w3-hover-dark-grey,.w3-hover-text-amber,.w3-hover-text-aqua,.w3-hover-text-blue,.w3-hover-text-light-blue,
.w3-padding-medium,.w3-padding,.w3-form{padding:8px 16px!important}
.w3-text-center{text-align: center!important;font-weight: bold!important; font-size: 20px!important; color: #37abc8!important; font-family: 'Jura', sans-serif;}
.w3-border-tfblue,.w3-hover-border-tfblue:hover{border-color:#37abc8!important}

#download-section {
  text-align: center;
}

.btn-space {
  margin-right: 50px;
}

/**/
/*Tour stuff*/
/**/

/* Color for tour header */
.top-tour {
  background-color: #37abc8;
}

/* Style for tour text */
.tour-text {
  color: grey;
  font-size: 20px;
  text-align: justify;
}

/* Style for featurette items */
.tour-featurette-heading {
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
  letter-spacing: -1px;
  border-bottom: 1px solid #37abc8;
  text-align: left;
}

/* Centers featurette images on div */
#tour-img {
  display:block;
  margin:auto;
  margin-top: 0!important;
}

@media screen and (max-width: 1050px) {
  .affix {
  display:none;
  }
}

.navbar-collapse  a {
color: white;}

/* Affix functionality of side navbar */
.affix {
  top: 30px;
  bottom: 90px;
  width: 300px;
  min-height: 50px;
}

/* Style for side navbar */
#navheader {
  font-size: 25px;
  color: #37abc8;
  font-weight: bold;
  border-bottom: 1x solid #37abc8;
}

/* Set line spacing for submenu itens */
.nav-tour > li > ul {
}


/* Style for all entries in side nav (including non links) */
.nav-tour > li {
  font-family: 'Jura', sans-serif;
  color: #37abc8;
  font-size: 25px;
}

/* Set general style for links in side nav */
.nav > li > a {
  color: grey;
}
.nav-tour > li > a {
  padding-bottom: 0;
}

/* Hide submenus when inactive */
.nav-tour .nav {
  display: none;
}

/* Display submenus when active */
.nav-tour > .active > ul {
  display: block;
}

/* Style for sub-menus when active */
.nav-tour > .active > .nav > li {
  font-size: 60%;
}

/* Add margin for items in active sub-menu that are not active */
.nav-tour > .active > .nav > li > a{
  margin-left: 10px;
  padding: 5px;
}

/* Style for active submenu itens */
.nav-tour > .active > .nav > .active > a,
.nav-tour > .active > .nav > .active > a:hover {
  font-weight: bold;
  border-left: 2px solid #37abc8;
  margin-left: 0px;
}

/* when hovering over inactive submensu */

/* Style for active itens */
.nav-tour > .active > a,
.nav-tour > .active > a:hover {
  font-weight: bold;
  border-left: 2px solid #37abc8
}

/* when hovering over inactive menus */
.nav-tour > .active > .nav > li > a:hover,
.nav-tour > li > a:hover {
  border-left: 2px solid #ccc;
  background-color: transparent;
}

.feat-video {
  margin-top: 20px;
  z-index: 0;
}

.vid-overlay {
  position: absolute;
  top: 20%;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.vid-banner {
  background-color: #dcdcdc;
  height: 50px;
}

.vid-banner > h2 {
  margin-left: 30px;
  line-height: 50px;
  vertical-align: middle;
}

/* Adds margin to the bottom of every feature block and a bottom border */
.feat-block {
  padding-bottom: 20px!important;
  position:relative;
}

/* Adds style for tutorial button div */
.tutorial-bt {
    padding-top: 20px;
    padding-bottom: 20px
}

/* Style for tutorial link buttons */
.tutorial-bt > .btn {
  font-weight: bold;
  background-color: #37abc8;
  border-color: #37abc8;
}

/* Remove outline when button is focused */
.tutorial-bt > .btn-primary:focus {
  outline: none;
}

/* Style for when tutorial button is clicked */
.tutorial-bt > .btn-primary:active {
  background-color: transparent;
  border-color: #37abc8;
  color: #37abc8;
  box-shadow: none;
}

/* Style for workflow content */
.workflow {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left:0;
  margin-right:0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 0;
  padding-left: 0;
}

.workflow-container {
  padding: 20px;
}

.workflow-header {
  padding: 10px 30px;
  background-color: grey;
  height: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.workflow-header > p {
  color: white;
  font-weight: bold;
}

.center-text {
  text-align: center;
}

.overview {
  text-align:center;
}

.overview p {
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
  color: grey;
}

.overview i {
  font-size: 100px;
}

#go-top {
  margin-top: 20px;
  color: #37abc8;
  border-left: none;
}

.vid-container {
  position: relative
}

/* */
/* Statistics plot gallery stuff */
/* */

.plot-grid {
  margin:0;
  position:relative;
}

.plot-grid h3 {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}

.plot-obj {
    overflow: hidden;
    position: relative;
}

.plot-img {
  display: inline-block;
  vertical-align: middle;
  height: 300px;
  width: 100%;
}

.plot-img:hover {
  opacity: .7;
  border: 2px solid #37abc8;;
  border-radius: 5px;
}

.modal-content {
  height: 100%;
  width: 100%;
}

.modal-body {
  height: 85%;
}

.modal-body img {
  display: inline-block;
  text-align: center;
  height: 100%;
  width: 100%;
}