/* Slideshow container */
.slideshow-container {
  width: 100%;
  min-width: 100%;
  position: relative;
}

/* Next & previous buttons */
.prev, .next {
  display:block;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  margin-top: -22px;
  padding: 20px;
  border: 2px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align:center;
  line-height:20px;
  transition: 0.6s ease;
  text-decoration: none;

}

.prev, .next {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
.prev {
  left: 10px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  cursor: pointer;
  text-decoration: none;
}

/* Caption text */
.text {
  border-radius: 10px;
  background: #37abc8;
  color: #f2f2f2;
  font-size: 15px;
  font-weight: bold;
  padding: 8px 12px;
  position: bottom;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
